<!DOCTYPE html>
<html>

<head>
    <title>Region → Subregion Avg MMR</title>
</head>

<body>
    <%- include('partials/navbar.html', { page: 'region' }) %>

    <h2>Average MMR by Subregion</h2>

    <form action="/region/result" method="GET">
        <label>Region:</label>
        <select name="region">
            <% regions.forEach(r=> { %>
                <option value="<%= r.region_id %>">
                    <%= r.region_name %>
                </option>
                <% }) %>
        </select>

        <label>Year:</label>
        <select name="year">
            <% years.forEach(y=> { %>
                <option value="<%= y.year %>">
                    <%= y.year %>
                </option>
                <% }) %>
        </select>

        <button type="submit">Search</button>
    </form>

</body>

</html>